// Paleta de colores

// Naranja: RGB 247-148-30
// Utilizar este color para destacar elementos principales, como por ejemplo, botones de postulación.
// Celeste: RGB 0-159-200
// Utilizar este color para destacar elementos secundarios, como por ejemplo, botones de “saber más”.
// Gris oscuro: RGB 101 – 118 – 142
// Utilizar este color para el layout de la página en combinación con gris claro.
// Gris claro: RGB 182 – 189 – 206
// Utilizar este color para el layout de la página en combinación con gris oscuro. Recomiendo utilizarlo en opacidad para las fotos del slider. 

$colors:(
	primary: rgb(101, 118, 142),
	primary-light: rgb(182, 189, 206),
	secondary: rgb(0, 159, 200),
	cta: rgb(247, 148, 30),
	bg-modal: rgba(0, 116, 162, 0.8),	
	// primary: #0075a2,
	// secondary: #60d394,
	footer: hsla(220, 12%, 10%, 0.9),
	alert: #fb3640,
	alert2: #e71d36,
	bg: rgb(229, 229, 229),
	bg-item: hsl(0, 0%, 100%),
	// cta: #ff9f1c,
	logoA: #FF570C,
	facebook: #4267b2,
	twitter: #2DAAE2
);