.c-principal{
	background-color: color(bg);
}

.c-content{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	// border: 3px solid red;
	@include mq($medium){
		width: 65%;
		margin-right: $gutter-item;
		margin-bottom: $gutter;
	}
	&-item{
		width: 100%;
		background-color: color(bg-item);
		box-shadow: $shadow-flat;
		margin: 0 auto .5rem 0;
		// border: 2px solid yellow;
		padding: $gutter;
		font-family: $secondary-font;
		@include mq($medium){
			flex: 1 1 49%;
			margin: .5rem .5rem 0 0;
			// border: 3px solid green;
		}
		&:last-child{
			margin-top: .5rem;
			margin-bottom: .5rem;
			@include mq($medium){
				flex: 1 0 calc(50% - .25rem);
				margin-bottom: 0;
				margin-top: .5rem;
			}
		}
		&:nth-child(even){
			margin-right: 0;
		}
		&:nth-child(3n){
			margin-top: 0;
			// border: 1px solid blue;
			@include mq($medium){
				flex: 0 0 calc(50% - .25rem);
				margin-top: .5rem;
				// border: 3px solid red;
			}
		}
	}
}

.item-title{
	font-family: $primary-font;
	font-size: $sub-title;
	font-weight: $light;
	padding: $gutter-item 0 0 0;	
}

.item-autor{
	font-family: $secondary-font;
	padding: $gutter-item 0;
	& a{
		color: color(cta);
		&:hover{
			color: color(secondary);
		}
	}
}

.item-extracto{
	font-family: $secondary-font;
	padding: $gutter-item 0;
	& a span{
		font-size: .9rem;
		color: color(cta);
		&:hover{
			color: color(secondary);
		}
	}
}

.item-categorias{
	padding-bottom: $gutter-item;
	& a{
		color: color(cta);
		&:hover{
			color: color(secondary);
		}
	}
}

.icon-tag{
	color: color(secondary);
	&::before{
		position: relative;
		top: 4px;		
	}
	& a{
		color: color(cta);
		&:hover{
			color: color(secondary);
		}
	}
}