.c-header{
	--tamano: 2rem;
	--ancho-logo: 15%;
	display: flex;
	position: fixed;
	width: 100%;
	height: auto;
	justify-content: space-between;
	z-index: z-index(capa10); 
	padding: $gutter;
	transition: all .4s ease;
	@include mq($movil1){
		--ancho-logo: 13%;
	}
	@include mq($medium){
		--ancho-logo: 8%;
	}
	@include mq($large){
		--ancho-logo: 5%;
	}
	&-logo{
		width: var(--ancho-logo);
		height: auto;
		padding: 0;
		transition: all .4s ease;
		// border: 1px solid red;
		@include mq($movil1){
			width: var(--ancho-logo);
		}
		@include mq($medium){
			width: var(--ancho-logo);
		}
		@include mq($large){
			width: var(--ancho-logo);
		}
		& a img{
			display: block;
			width: 100%;
		}
	}
	&-menu{
		position: relative;
		font-size: var(--tamano);
		//top: .5rem;
		padding: 0 $gutter;
		z-index: z-index(capa6);
		color: color(cta);
		//border: 1px solid red;
		cursor: pointer;
		@include mq($medium){
			top: .5rem;
		}
	}
}

.c-nav{
	position: fixed;
	display: flex;
	background-color: color(primary);
	top: 0;
	right: -$off-canvas;
	width: $off-canvas;
	height: 100vh;
	padding: 1rem;
	padding-top: rem(100px);
	z-index: z-index(capa5);
	transition: all .4s;
	& ul{
		display: block;
	}
	& li{
		border-bottom: 1px solid color(cta);
	}
	& a{
		display: block;
		position: relative;
		text-transform: uppercase;
		font-weight: $bold;
		letter-spacing: 2px;
		line-height: 3;
		color: white;
		cursor: pointer;
	}
}

//Estilo para eventos

.hide-header{
	background-color: transparent;
}

.show-header{
	// --tamano: 1.5rem;
	--ancho-logo: 3%;
	background-color: color(primary);
}

.show-menu{
	right: 0;
}