.c-header{
	display: flex;
	position: fixed;
	width: 100%;
	height: auto;
	justify-content: space-between;
	z-index: z-index(capa10); 
	padding: $gutter;
	transition: all .4s ease;
	// box-shadow: $shadow-flat;
	//opacity: .8;
	&-logo{
		width: 20vw;
		height: auto;
		padding: 0 $gutter;
		@include mq($movil1){
			width: 15vw;
		}
		@include mq($medium){
			width: 10vw;
		}
		@include mq($large){
			width: 7vw;
		}
		@include mq($x-large){
			width: 4vw;
		}
	}
	&-menu{
		position: relative;
		font-size: 2rem;
		//top: .5rem;
		padding: 0 $gutter;
		z-index: z-index(capa6);
		color: color(cta);
		//border: 1px solid red;
		cursor: pointer;
		@include mq($medium){
			top: .5rem;
		}
	}
}

.c-nav{
	position: fixed;
	display: flex;
	background-color: color(primary);
	top: 0;
	right: -$off-canvas;
	width: $off-canvas;
	height: 100vh;
	padding: 1rem;
	padding-top: rem(100px);
	z-index: z-index(capa5);
	transition: all .4s;
	& ul{
		display: block;
	}
	& li{
		border-bottom: 1px solid color(cta);
	}
	& a{
		display: block;
		position: relative;
		font-family: $primary-font;
		text-transform: uppercase;
		font-weight: $bold;
		letter-spacing: 2px;
		line-height: 3;
		color: white;
	}
}

//Estilo para eventos

.hide-header{
	top: -5rem;
}

.show-header{
	top: 0;
	background-color: ligthen(color(primary));
}

.show-menu{
	right: 0;
}