.c-slider{
	position: relative;
	width: 100%;
	margin: auto;
	overflow: hidden;
	box-shadow: $shadow-flat;
}

.slider{
	display: flex;
	width: 300%;
	&-section{
		width: 100%;
		position: relative;
	}
	&-text{
		position: absolute;
		width: 90%;
		// font-family: $primary-font;
		font-size: 1.2rem;
		font-weight: $bold;
		text-transform: uppercase;
		line-height: 1.5;
		letter-spacing: 1px;
		transform: translate(0, -50%);
		z-index: 1;
		color: white;
		@include mq($movil2){
			line-height: 2;
		}
		@include mq($small){
			width: 80%;
		}
		@include mq($medium){
			font-size: 1.7rem;
		}
		@include mq($large){
			font-size: 2rem;
		}
	}
}

.botones{
	display: flex;
	width: 90%;
	position: absolute;
	justify-content: space-between;
	z-index: 1;
	transform: translate(0, 300%);
	//border: 1px solid red;
	@include mq($small){
		width: 60%;
	}
	@include mq($medium){
		width: 40%;
	}
	@include mq($large){
		width: 30%;
	}
}

.slider > section{
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-size: cover;
	background-position: center;
	&::before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: color(primary);
		opacity: .7;
	}
}

.slider-img-1{	background-image: img('1.jpg');}
.slider-img-2{background-image: img('2.jpg');}
.slider-img-3{	background-image: img('3.jpg');}

.btn-prev, .btn-next{
	display: none;
	width: rem(40px);
	height: rem(40px);
	padding: $gutter-item;
	background-color: color(primary-light);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	font-weight: bold;
	text-align: center;
	font-family: monospace;
	border-radius: 50%;
	cursor: pointer;
	&:before{
		position: relative;
		margin: 0;
		font-size: 2rem;
		bottom: .5rem;
		right: .5rem;
	}
	&:hover{
		background-color: darken(color(primary),7);
		color: color(cta);
	}
	@include mq($medium){
		display: block;
	}
}


.btn-prev{
	left: 10px;
}

.btn-next{
	right: 10px;
}

// .c-main{
// 	// border: 3px solid red;
// }

.c-programa{
	@include c-wrap;
	height: auto;
	margin: .5rem auto .5rem 0;
	@include mq($large){
		margin: 0;
	}
	&-item{
		@include i-wrap;
		width: 100%;
		padding: 0 $gutter;
		margin: 0;
		background-color: color(bg-item);
		box-shadow: $shadow-flat;
		overflow: hidden;
		//border: 1px solid red;
		@include mq($medium){
			flex: 0 0 90%;
			margin: $gutter auto;
			padding: 0 3rem;
		}
	}
	&-title{
		margin: $gutter;
		color: color(footer);
		text-align: center;
		font-size: $title;
		letter-spacing: 2px;
	}
	&-text{
		color: color(text-dark);
		font-family: $secondary-font;
		letter-spacing: 2px;
		margin-bottom: $gutter-item;
		&:nth-last-child(-n+3){
			font-weight: bold;
			& span{
				font-weight: normal;
				margin-left: .5rem;
			}
		}
		&-ul{
			margin-bottom: .5rem;
			& li{
				font-family: $secondary-font;
				letter-spacing: 2px;
				list-style: disc;
				margin-left: 1.2rem;
				margin-bottom: .5rem;
			}
		}
	}
	&-button{
		margin: $gutter;
		background-color: color(cta);
		margin-right: 0;
		float: right;
		cursor: pointer;
	}
}

// #programa:before{
// 	display: block;
// 	content: "";
// 	margin-top: -4.5rem;
// 	height: 4.5rem;
// 	visibility: hidden;
// }

// #desafio:before{
// 	display: block;
// 	content: "";
// 	margin-top: -3rem;
// 	height: 3rem;
// 	visibility: hidden;
// }

// #empresas:before{
// 	display: block;
// 	content: "";
// 	margin-top: -3rem;
// 	height: 3rem;
// 	visibility: hidden;
// }

.c-desafio{
	position: relative;
	width: 100%;
	height: 89rem;
	margin: 0 auto;
	background-color: color(bg-item);
	box-shadow: $shadow-flat;
	@include mq($movil1){
		height: 83rem;
	}
	@include mq($movil2){
		height: 82rem;
	}
	@include mq($movil3){
		height: 79rem;
	}
	@include mq($movil4){
		height: 77rem;
	}
	@include mq($small){
		height: 75rem;
	}
	@include mq($medium){
		width: 90%;
		margin: 0 auto;
		height: 46rem;
	}
	@include mq($large){
		height: 39rem;
	}
	@include mq($m-large){
		height: 29rem;
	}
	&-banner{
		width: 100%;
		position: relative;
		top: 0;
		height: 15rem;
		background-size: cover;
		background-position: center;
		background-image: img('banner-desafio.jpg');
		&::before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: color(primary);
			opacity: .8;
		}
		&-title{
			position: relative;
			text-align: center;
			width: 100%;
			z-index: 1;
			color: color(bg-item);
			padding: $gutter;
			letter-spacing: 2px;
			font-size: 2rem;
			@include mq($medium){
				font-size: 2.2rem;
			}
		}
	}
}

.content-desafio{
	@include c-wrap;
	position: absolute;
   top: 4%;
	background-color: transparent;
	justify-content: space-around;
	padding: 0 $gutter;
	overflow: hidden;
	//border: 1px solid red;
	@include mq($movil1){
		top: 4.5%;
	}
	@include mq($movil2){
		top: 5%;
	}
	@include mq($medium){
		top: 10%;
	}
	@include mq($large){
		top: 11%;
	}
	@include mq($m-large){
		top: 14%;
	}
	&-item{
		@include i-wrap;
		position: relative;
		flex: 1 1 97%;
		padding: $gutter;
		margin-bottom: $gutter-item;
		font-family: $secondary-font;
		box-shadow: $shadow-flat;
		color: white;
		background-color: color(secondary);
		@include mq($medium){
			flex: 1 1 48%;
			margin-right: $gutter-item;
		}
		@include mq($m-large){
			flex: 1 1 30%;
		}
		&:hover{
			cursor: pointer;
			transform: scale(1.03);
		}
		& h2{
			color: color(footer);
			text-align: center;
			font-size: $sub-title;
			font-weight: $bold;
		}
		& h4{
			margin-top: .5rem;
			text-align: center;
			font-weight: bold;
			font-family: $secondary-font;
			font-size-adjust: 1.2rem;
		}
		& p{
			text-align: center;
			padding: $gutter;
		}
	}
}

.c-empresas{
	width: 100%;
	margin-top: $gutter-item;
	background-color: color(secondary);
	@include mq($medium){
		width: 90%;
		margin: 0 auto;
		margin-top: $gutter;
	}
	&-title{
		text-align: center;
		width: 100%;
		color: color(footer);
		padding: $gutter-item;
		font-size: $title;
		@include mq($medium){
			padding: $gutter; 
		}
	}
}

.contain-empresas{
	@include c-wrap;
	width: 100%;
	padding: 0 $gutter;
	overflow: hidden;
	&-item{
		@include i-wrap;
		flex: 1 1 100%;
		margin-bottom: .5rem;
		padding: 0 $gutter;
		font-family: $secondary-font;
		box-shadow: $shadow-flat;
		background-color: color(bg-item);
		@include mq($medium){
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex: 1 1 45%;
			margin-right: $gutter-item;
		}
		@include mq($m-large){
			flex: 1 1 30%;
		}
		&-subtitle{
			text-align: center;
			width: 100%;
			color: color(footer);
			padding: $gutter-item;
			font-size: 1.3rem;
			@include mq($small){
				padding: $gutter;
			}
		}
		&-img{
			@include mq($small){
				width: 80%;
				margin: 0 auto;
			}
		}
		& a{
			padding: $gutter-item;
			color: color(cta);
			float: right;
			&:hover{
				transform: scale(1.03);
				color: darken(color(cta),5);
				cursor: pointer;
			}
			@include mq($medium){
				align-self: flex-end;
			}
		}
	}
	&-item:nth-last-child(-n+2) img{
		@include mq($m-large){
			display: block;
			width: 65%;
			margin: 0 auto;
		}
	}
}

.c-patrocinadores{
	@include c-wrap;
	padding: 0 $gutter-item;
	width: 100%;
	background-color: color(cta);
	overflow: hidden;
	@include mq($medium){
		width: 90%;
		margin: 0 auto;
		padding: 0 $gutter;
	}
	&-item{
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1 1 33%;
		height: auto;
		color: white;
		padding: 0;
		// border: 1px solid red;
		&:first-child{
			padding: .5rem;
			@include mq($medium){
				padding: .5rem 3rem;
			}
			@include mq($large){
				padding: .5rem 8rem;
			}
		}
		@include mq($medium){
			padding: .5rem;
		}
		@include mq($large){
			padding: .5rem 4rem;
		}
	}
	&-img{
		display: block;
		width: 100%;
		margin: 0;
		height: auto;
		// border: 1px solid green;
	}
}